/* 
    font-family: 'Newsreader', serif;
    font-family: 'Roboto', sans-serif;

*/

:root {
    /* color palette */
    --palewood: #fefae0;
    --cutwood: #faedcd;
    --grayish: #e9edc9;
    --gray: #ccd5ae;
    --wood: #d4a373;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}

/* navbar */

.nav {
    height: 80px;
    border-bottom: 2.5px solid rgba(0,0,0,0.7);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
    background-color: var(--palewood);
}

.nav .logo {
    font-size: 40px;
}

/* intro */

.intro {
    padding: 40px 250px;
    display: flex;
    align-items: center;
    background-color: var(--cutwood);
}

.intro-image {
    height: auto;
    width: 400px;
    margin-right: 40px;
}


.intro .header {
    font-size: 48px;
}

.intro .paragraph {
    font-size: 24px;
}

/* intro extended */

.intro-extended {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 40px 250px;
    background-color: var(--palewood);
}

.extended-image {
    margin-left: 40px;
}

.intro-extended .header {
    font-size: 48px;
}

.intro-extended .paragraph {
    font-size: 24px;
}

/* history */

.history {
    padding: 40px 250px;
    background-color: var(--cutwood);
}

.history .header {
    font-size: 32px;
}

.history p {
    font-size: 24px;
}

.timeline-wrapper {
    margin-top: 20px;
    display: flex;
}

.list {
    list-style: none;
}

.list-item {
    font-size: 24px;
    margin-bottom: 20px;
    
}






